<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.appearancechange</string>

    <key>KeepAlive</key>
    <true/>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/mars/.local/bin/dark-mode-notify</string>
        <string>/bin/bash</string>
        <string>/Users/mars/.local/bin/appearance-trigger.sh</string>
    </array>

    <key>StandardOutPath</key>
    <string>/tmp/appearance_daemon.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/appearance_daemon_error.log</string>
</dict>
</plist>
